[Unit]
Description=s4s RSS reader - fetch feeds
OnFailure=failure-notification@%n.service
After=network.target

[Service]
Type=oneshot
WorkingDirectory=/srv/docker/s4s
ExecStart=docker compose exec -T app python main.py run
StandardOutput=journal
StandardError=journal
