[Unit]
Description=starts RSS reader - fetch feeds
After=network.target

[Service]
Type=oneshot
WorkingDirectory=/srv/www/htdocs/starts
ExecStart=docker compose exec -T app python main.py run
StandardOutput=journal
StandardError=journal
